@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

/* background color: #21386b */
:root {
	--main-bg: #21386b;
}

/* box sizing reset */

html {
	box-sizing: border-box;
	background: var(--main-bg);
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-family: 'Montserrat', sans-serif;
}

.main {
	min-height: 100vh;
	margin: 20px 0 20px 0;
	color: #d3ebff;
}

/* home page styles */

.filter {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	margin: 0 auto 30px 5%;
}

.filter-item {
	margin-left: 20px;
	font-size: 18px;
}

.filter select {
	width: 150px;
	height: 40px;
	text-align: center;
	padding: 0;
	border: none;
	background-color: #17344b;
	color: #d3ebff;
}

::placeholder {
	color: #d3ebff;
	opacity: 1;
}

.search-bar {
	width: 325px;
	height: 40px;
	border: none;
	text-align: center;
	padding: 0;
	background-color: #17344b;
	color: #d3ebff;
}

/* favourites page styles */

.no-movies {
	font-size: 2em;
	width: 100%;
	padding: 0 10% 0 10%;
	text-align: center;
}

.favourites-title {
	text-align: center;
}

/* about page styles */

.about-container {
	display: flex;
	flex-flow: column nowrap;
	text-align: center;
}

.about-info {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
}

.about-tmdb,
.about-dev {
	width: 400px;
}

.about-tmdb {
	display: flex;
	flex-flow: column nowrap;
}

.tmdb-logo {
	width: 200px;
	object-fit: contain;
}

.links {
	color: #d3ebff;
}
.links:hover {
	color: #a7d7ff;
}

/* movie detail page styles */

.movie-details {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	min-height: 100vh;
}

.movie-details h2,
.movie-details h3 {
	margin: 0;
}

.movie-details-info {
	padding: 5% 0 5% 0;
	margin-right: 10%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 40%;
	text-align: center;
	/* height: 1000px; */
}

.movie-details-info article {
	line-height: 1.5em;
}

.poster-img {
	width: 25%;
	object-fit: contain;
}

.genre-list {
	display: flex;
	flex-flow: row wrap;
	font-size: 12px;
	justify-content: space-evenly;
}

.rating {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
}

.rating p {
	margin-left: 10px;
}

/* button styles from https://getcssscan.com/css-buttons-examples */

.buttons button {
	margin-bottom: 10px;
	align-items: center;
	background-color: #fee6e3;
	border: 2px solid #111;
	border-radius: 8px;
	box-sizing: border-box;
	color: #111;
	cursor: pointer;
	display: flex;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	height: 48px;
	justify-content: center;
	line-height: 24px;
	max-width: 100%;
	padding: 0 8px;
	position: relative;
	text-align: center;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	text-decoration: none;
}

.buttons button:after {
	background-color: #111;
	border-radius: 8px;
	content: '';
	display: block;
	height: 48px;
	left: 0;
	width: 100%;
	position: absolute;
	top: -2px;
	transform: translate(8px, 8px);
	transition: transform 0.2s ease-out;
	z-index: -1;
}

.buttons button:hover:after {
	transform: translate(0, 0);
}

.buttons button:active {
	background-color: #ffdeda;
	outline: 0;
}

.buttons button:hover {
	outline: 0;
}

.buttons a {
	text-decoration: none;
}

.toggle-button {
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 50px;
	height: 30px;
}

.toggle-button .bar {
	height: 3px;
	width: 100%;
	background-color: white;
	border-radius: 10px;
}

.back-button {
	align-self: center;
}

.back-button img {
	width: 100px;
}

@media only screen and (max-width: 768px) {
	.label {
		display: none;
	}

	.filter {
		flex-flow: column nowrap;
	}

	.filter-item {
		margin: 10px 0;
	}

	.toggle-button {
		display: flex;
	}

	.no-movies h2 {
		font-size: 1.1em;
	}

	.back-button {
		align-self: flex-start;
	}

	.back-button img {
		width: 75px;
	}

	.movie-details {
		flex-direction: column;
		min-height: 150vh;
	}

	.movie-details-info {
		width: 90%;
		align-self: center;
		margin: 0;
	}

	.movie-details-info h2,
	.movie-details-info h3 {
		margin: 5px;
	}

	.movie-details-info article {
		font-size: 12px;
		margin: 15px 0px 15px 0;
	}

	.poster-img {
		width: 90%;
		align-self: center;
	}

	.buttons {
		flex-direction: row;
		margin: 20px 0;
	}
}
