@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");

/* background color: #21386b */
:root {
  --main-bg: #21386b;
}

/* box sizing reset */

html {
  box-sizing: border-box;
  background: var(--main-bg);
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
}

.main {
  min-height: 100vh;
  margin: 20px 0 20px 0;
  color: #d3ebff;
}

/* header styles */

.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 10px 5% 0px 5%;
}

.header .header-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--main-bg);

  z-index: 5;
}

.nav-bar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: #a7d7ff;
  font-weight: 700;
  font-size: 2em;
  margin-left: 20px;
}

.nav-item:hover {
  color: #d3ebff;
}

.nav-item p {
  margin: 0;
}

.back-button {
  width: 100px;
}

/* footer styles */

footer {
  display: flex;
  flex-flow: row nowrap;
  color: #d3ebff;
  justify-content: center;
  margin: 30px 0 30px 0;
  font-size: 1.3em;
}

footer a {
  color: #d3ebff;
}
footer a:hover {
  text-decoration: underline;
  color: white;
}
footer p {
  margin: 0;
}

/* home page styles */

.filter {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto 30px 5%;
}

.filter-item {
  margin-left: 20px;
  font-size: 18px;
}

.filter select {
  width: 100px;
  height: 40px;
  text-align: center;
  padding: 0;
  border: none;
  background-color: #17344b;
  color: #d3ebff;
}

::placeholder {
  color: #d3ebff;
  opacity: 1;
}

.search-bar {
  width: 325px;
  height: 40px;
  border: none;
  text-align: center;
  padding: 0;
  background-color: #17344b;
  color: #d3ebff;
}

/* favourites page styles */

.no-movies {
  font-size: 2em;
  width: 60%;
  text-align: center;
}

/* about page styles */

.about-container {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
}

.about-info {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  text-align: left;
}

.about-tmdb,
.about-dev {
  width: 400px;
}

.about-tmdb {
  display: flex;
  flex-flow: column nowrap;
}

.tmdb-logo {
  width: 200px;
  object-fit: contain;
}

.links {
  color: #d3ebff;
}
.links:hover {
  color: #a7d7ff;
}

/* movie detail page styles */

.movie-details {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  border-top: 3px solid lightblue;
  border-bottom: 3px solid lightblue;
}

.movie-info {
  width: 400px;
  height: 50%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-self: center;
  /* padding: 30px; */
  text-align: center;
}

.movie-info h2 {
  font-size: 2.2em;
}
.movie-info p {
  font-size: 1.5em;
}

.movie-info h2,
.movie-info p,
.movie-info article {
  margin: 0;
}

.poster-img {
  width: 400px;
  object-fit: contain;
}

/* movie item styles */

.movie-list {
  display: flex;
  flex-flow: row wrap;
  gap: 30px 30px;
  justify-content: space-evenly;
  min-height: 100vh;
  margin: 0 5% 0 5%;
}

.movie-item {
  width: 450px;
  height: 400px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  text-align: center;
  border: 1px solid lightblue;
  border-radius: 20px;
  padding: 10px;
}

.movie-item-details {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  height: 100%;
}

.movie-item-details h2,
.movie-item-details p {
  margin: 0;
}

.movie-item-details img {
  width: 200px;
  object-fit: contain;
}

.movie-item-details span {
  width: 225px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}

.movie-description {
  width: 75%;
  align-self: center;
}

.buttons {
  display: flex;
  flex-flow: column;
  align-items: center;
}

/* button styles from https://getcssscan.com/css-buttons-examples */
.buttons button {
  margin-bottom: 10px;
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 8px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.buttons button:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

.buttons button:hover:after {
  transform: translate(0, 0);
}

.buttons button:active {
  background-color: #ffdeda;
  outline: 0;
}

.buttons button:hover {
  outline: 0;
}

.toggle-button {
  /* position: absolute;
  top: 2rem;
  right: 2rem; */
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 50px;
  height: 30px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media only screen and (max-width: 768px) {
  .label {
    display: none;
  }

  .filter {
    flex-flow: column nowrap;
  }

  .filter-item {
    margin: 10px 0;
  }

  .toggle-button {
    display: flex;
  }

  /* .nav-item {
    display: none;
  } */

  .header {
    flex-direction: column;
    align-items: flex-start;
    transition: margin 0.6s cubic-bezier(0.6, 0.02, 0.16, 0.97);
    padding: 0;
  }
  .header-container {
    padding: 10px 5% 0px 5%;
  }

  .header.active {
    margin-bottom: 11rem;
  }

  .nav-bar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transform: translateY(-25%);
    width: 100%;
    flex-direction: column;
    transition: all 0.6s cubic-bezier(0.6, 0.02, 0.16, 0.97);
  }

  .nav-bar.active {
    transform: translateY(75%);
  }

  .nav-item {
    width: 100%;
    text-align: right;
    padding: 0.5rem 1rem;
  }

  .nav-item p {
    margin-left: auto;
  }

  .nav-item.active {
    display: flex;
  }

  .no-movies h2 {
    font-size: 1.1em;
  }

  .back-button {
    width: 50px;
  }

  .poster-img {
    margin-top: 20px;
    width: 50%;
  }

  .movie-info h2 {
    font-size: 1.5em;
  }
  .movie-info p {
    font-size: 1em;
  }

  .movie-info {
    padding: 10px;
  }

  .movie-item {
    height: 100%;
  }

  .movie-item-details {
    flex-direction: column;
    align-items: center;
  }

  .movie-item-details span {
    width: 100%;
    align-items: center;
  }

  .movie-item-details h2 {
    margin: 10px 0;
  }

  .movie-item-details img {
    width: 60%;
  }

  .buttons {
    flex-direction: row;
    margin: 20px 0;
  }
}
